<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href=""><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Моя картинка" alt="Логотип" width="120" height="50"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          {% for m in menu %}
            <li class="nav-item">
              <a class="nav-link" href="{{ m. url }}">{{ m.name }}</a>
            </li>
          {% endfor %}
      </ul>
    </div>
    <a href="rent-rooms" class="btn btn-primary">Забронитровать номер</a>
  </nav>
</div>