<section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="text-center mb-4">
            <img src="https://megotel.ru/images/rooms/828/4326/8ed39c1555a2c.jpg" alt="Image 1" class="img-fluid">
            <h3>Одноместный номер</h3>
          </div>
          <p>Одноместный номер с одной двухместной кроватью - идеальное решение для комфортного пребывания одного гостя. Номер оборудован просторной двухместной кроватью, обеспечивающей отличное качество сна. </p>
        </div>
        <div class="col-md-6">
          <div class="text-center mb-4">
            <img src="https://baikalterra.com/img/marx-hotel/marx-hotel/marx-hotel-1539161742.jpg" alt="Image 2" class="img-fluid">
            <h3>Двухместный номер</h3>
          </div>
          <p>Двухместный номер с двумя отдельными кроватями - отличный выбор для комфортного пребывания двух гостей. В номере имеются две удобные односпальные кровати, которые обеспечивают отличное качество сна и комфорт. </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="text-center mb-4">
            <img src="https://avatars.mds.yandex.net/i?id=5e93b83c026aebdcbdbd6a5de4c21c23b4b93647-10469104-images-thumbs&n=13" alt="Image 3" class="img-fluid">
            <h3>Семейный номер на 2 комнаты</h3>
          </div>
          <p>Семейный номер на 2 комнаты - идеальный выбор для семейного отдыха или пребывания с группой друзей. Номер состоит из двух отдельных комнат, обеспечивающих достаточно пространства и конфиденциальности для каждого гостя. </p>
        </div>
        <div class="col-md-6">
          <div class="text-center mb-4">
            <img src="https://edge.travelatacdn.ru/thumbs/1920x1080/upload/2020_43/content_hotel_5f912c81241f35.22252471.jpg" alt="Image 4" class="img-fluid">
            <h3>Семейный номер 3 комнаты</h3>
          </div>
          <p>Семейный номер на 3 комнаты - идеальное решение для больших семей или групп, которым требуется комфортное и просторное проживание. Номер состоит из трех отдельных комнат, обеспечивая приватность и удобство для каждого гостя.</p>
        </div>
      </div>
    </div>
  </section>