<div class="text-center">
  <h2>Широкий спектр услуг</h2>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img src="http://www.aqua-emotion.de/typo3temp/pics/0941fa9386.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title text-center">Банный комлпекс</h5>
            <p class="card-text service-description text-justify">Отель предоставляет услуги транспорта с профессиональным экипажем для организации и проведения экскурсий. Гости могут насладиться комфортным перемещением по достопримечательностям и узнать больше о местных культурах и истории.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="https://avatars.mds.yandex.net/i?id=f1882b4d00cbc97df295f2f3ff01d34f07b95ad9-5875719-images-thumbs&n=13" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title text-center">Транспорт с экипажем для экскурий</h5>
            <p class="card-text service-description text-justify">ранспорт с экипажем для экскурсий: Отель предоставляет услуги транспорта с профессиональным экипажем для организации и проведения экскурсий. Гости могут насладиться комфортным перемещением по достопримечательностям и узнать больше о местных культурах и истории.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="https://avatars.dzeninfra.ru/get-zen_doc/2414075/pub_61c9aa264d08f2221d332e0b_61c9aa64e3428a74439a09f9/scale_1200" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title text-center">Массаж</h5>
            <p class="card-text service-description text-justify">Отель предлагает услуги профессионального массажа, которые помогут гостям расслабиться и снять напряжение. Массажные техники могут варьироваться от классического шведского массажа до тайского массажа, в зависимости от предпочтений гостей.</p>
          </div>
        </div>
      </div>
    </div>
  </div>