{% extends 'base.html' %}
{% block content %}
<div class="container">
    <section>
        <h2 class="text-center">О нас</h2>
        <p>Добро пожаловать в наш отель, расположенный на берегу Черного моря в живописной горной местности. Мы гордимся тем, что наш отель окружен прекрасными виноградниками, из которых мы получаем вино высочайшего качества. Наше расположение предлагает уникальный опыт, сочетающий в себе красоту морского побережья и окружающих гор. <img src="https://edge.travelatacdn.ru/upload/2019_44/content_hotel_5dbc69fa7d8624.80411957.jpg" alt="Изображение 1" class="img-fluid"></p>
        <p>Мы стремимся создать идеальные условия для наших посетителей, предоставляя высокий уровень сервиса и комфорт. Наш отель предлагает широкий выбор номеров, от уютных стандартных номеров до роскошных люксов с видом на море и горы. Все номера оборудованы современными удобствами, чтобы гости могли насладиться своим пребыванием в полной мере.</p>
        <p>Мы также предлагаем разнообразные удобства и услуги, чтобы сделать пребывание нашим гостям незабываемым. У нас есть ресторан с изысканной кухней, где вы сможете насладиться блюдами, приготовленными из местных продуктов высокого качества. Для любителей активного отдыха у нас есть бассейн, спортивные площадки и возможности для пеших прогулок и горных походов. <img src="https://media.tatler.ru/photos/619b7a02456ebfd3b0eda017/16:9/w_2560%2Cc_limit/Londri1.JPG" alt="Изображение 1" class="img-fluid"></p>
        <p>Мы гордимся тем, что наша гостиница получила несколько наград от администрации города за наш вклад в развитие туризма и предоставление высокого уровня сервиса. Эти награды являются подтверждением нашего стремления к качеству и превосходству.</p>
        <p>Мы приглашаем вас посетить наш отель на берегу Черного моря и насладиться прекрасным сочетанием морской красоты, горной местности и виноградников, а также нашим идеальным гостеприимством и условиями для пребывания.</p>
    </section>
</div>
{% endblock content %}