{% extends 'base.html' %}
{% block content%}


<div class="text-center">
  <h2>Комфортабельные номера</h2>
</div>
  <section id="rooms" class="container">
  {% include 'includes/rooms.html' %}
</section>

  <section id="services" class="container">
    {% include 'includes/services.html' %}
  </section>

  <div class="text-center">
    <h2>Отзывы</h2>
  </div>
  <section id="reviews" class="container">
    <div class="card">
      <div class="card-header">
        Рекомендуемые
      </div>
      <div class="card-body">
        <h5 class="card-title">Особое обращение с заголовком</h5>
        <p class="card-text">С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту.</p>
        <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
      </div>
    </div>
  </section>

  {% endblock content %}

