{% extends 'base.html' %}
{% block content %}
{% include 'includes/services.html' %}

<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img src="https://avatars.mds.yandex.net/i?id=f19efe270054104e0910699d28842eedc48b66dc-9068298-images-thumbs&n=13" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title text-center">Ресторан или кафе</h5>
            <p class="card-text service-description text-justify">Отель может иметь ресторан или кафе на своей территории, где гости могут насладиться разнообразными блюдами и напитками.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="https://avatars.mds.yandex.net/i?id=7f48886b757997c141a9e04acd9d2273e9b47d52-8159518-images-thumbs&n=13" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title text-center">Бесплатный Wi-Fi</h5>
            <p class="card-text service-description text-justify">Отель может предоставлять бесплатный доступ в Интернет через Wi-Fi, чтобы гости могли оставаться на связи и пользоваться Интернетом.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="https://na-dache.pro/uploads/posts/2021-11/1635851246_71-na-dache-pro-p-komnata-peregovorov-foto-72.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title text-center">Конференц-залы и встречи</h5>
            <p class="card-text service-description text-justify">Для деловых путешественников отель может предлагать конференц-залы и помещения для встреч или проведения семинаров.</p>
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock content %}